body {
    font-family: "Roboto Light", system-ui;
    background: white;
}

main {
    max-width: 1400px;
    margin: 30px auto auto;
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    min-height: 25em;
}

#menuItemsRow {
    width: 100%;
}

.menuItem {
    display: flex !important;
    justify-content: space-between !important;
}
.menuItemImg {
    width: 25em !important;
    height: 25em !important;
    object-fit: cover;
}

.menuItemUnit {
    min-width: 20em !important;
    max-width: 25em !important;
    margin: 10px
}

.menuDescription {
    margin-bottom: 0.2rem !important;
}

.menuItemPrice {
    height: fit-content;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menuItemText {
    height: fit-content;
    white-space: nowrap;
    min-width: 150px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}